.card{
    margin-top: 15px;
}
.divcontact{
    margin-top: 20px;
    background-color: rgb(188, 183, 218);
}
.about{
   
    text-align: center;
}
.heading{
    text-align: center;
    font-size: 40px;
}
.mainheading{
 text-align: center;
    color: olivedrab;
}